.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}


.header {
  font-family: 'Gwendolyn', cursive;
  color: #EAE9E5;
  text-decoration: underline;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #F4DDD5;

}

.App {
  background-color: #222D44;
  color: #F4DDD5
}

body {
  color: #EAE9E5;
}

.nav {
  /* color: #EAE9E5; */
  color: #F4DDD5;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: .5em
}

main {
  overflow: auto;
}

.socials {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  justify-content: center;
}


.footer a {
  color: #F4DDD5;
  text-decoration: none;
}